.dashboard-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.is-mobile .dashboard-toolbar {
    position: fixed;
    z-index: 2;
}

h1.app-name {
    margin-left: 8px;
   /* margin-top: 15px;  */
}

ul li {
    list-style: none;
}

div ul {
    display: flex;
    align-items: center;
}

.right {
    margin-left: auto;
}

.sidenav-container {
    flex:1;
    height:100%;
}

.is-mobile .sidenav-container {
    flex: 1 0 auto;
}

.profile-card{
     text-align: center;
     padding: 0px 20px 20px 20px;
}

.header{
    margin-top: 20px;
}

mat-sidenav{
    width: 250px;
     padding-top: 20px;
}

mat-sidenav-content {
    padding: 20px;
    background: #f5f5f5; /* opcional */
}

.icono{
    margin-right: 15px;
    
}